# ローカルのTerraformディレクトリ - 各開発者が自分の環境で生成
**/.terraform/*

# .tfstateファイル - Terraformの状態ファイル
*.tfstate
*.tfstate.*

# Crash ログファイル
crash.log

# ローカルに特有な設定ファイル
*.tfvars

# オーバーライドファイル
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraformrc、terraform.rcファイル - ユーザ固有の設定を含む可能性がある
.terraformrc
terraform.rc

.DS_Store